html {
    min-height: 100%;
}

body {
    min-height: 100%;
}

#page-content {
    margin-top: 10px;
    padding-bottom: 80px;
}

#header {
    width: 100%;
    height: 200px;
}

#header_icon {
    height: 96%;
    display: block;
    margin: 2% auto 2% auto;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: 0;
}

.card {
    display: inline-block;
}

.collapse {
    flex-grow: 0;
}

#chat-form {
    position: fixed;
    bottom: 107px;
    right: 0;
    width: 300px;
    height: 38px;
}

#login-form {
    position: fixed;
    bottom: 70px;
    right: 0px;
    width: 300px;
    height: 38px;

}

#chat-messages {
    position: fixed;
    bottom: 145px;
    right: 0;
    width: 300px;
    height: 200px;
    list-style-type: none;
    vertical-align: bottom;
    padding-inline-start: .5em;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid #6c757d;
    margin-bottom: 0;
    display: none;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-node {
    word-wrap: break-word;
}

#chat-open-btn {
    border-top-left-radius: 0;
}

#chat-send-btn {
    border-top-right-radius: 0;
}

.dropdown-menu {
    right: 0;
    left: auto;
    height: 100px;
    overflow-y: auto;
}

a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

#contents .list-group-item {
    padding: .4rem 1rem;
}