html {
    min-height: 100%;
}

body {
    min-height: 100%;
}

#page-content {
    margin-top: 10px;
    padding-bottom: 80px;
}

#header {
    width: 100%;
    height: 200px;
}

#header_icon {
    height: 96%;
    display: block;
    margin: 2% auto 2% auto;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: 0;
}

.card {
    display: inline-block;
}

.collapse {
    flex-grow: 0;
}

button:focus {
    outline: 0;
}

a:focus {
    outline: 0;
}